* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(253, 224, 223);
}A

.container {
  position: relative;
  display: flex;
  height: 60%;
  width: 50%;
  background-color: rgb(253, 224, 223);
}
.par {
  padding-right: 14%;
  left: 15%;
  top: 30%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 400px;
  height: 300px;

  font-family: "Lobster", cursive;
  background-color: rgb(253, 224, 223);
}
.item {
  transition: transform 2s;
  width: 40%;
  /* animation: move 2s  forwards; */
}
h2 {
  color: rgb(245, 88, 119);
}
h4 {
  color: rgb(245, 88, 119);
  opacity: 0.7;
}

img {
  position: relative;
  bottom: 50px;
  z-index: 2;
  height: 140%;
}
.top {
  transition: 1s;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 8px;
  background-color: rgb(245, 88, 119);
}
.right {
  transition: 1s;
  position: absolute;
  top: 0;
  right: 0;
  height: 0%;
  width: 8px;
  background-color: rgb(245, 88, 119);
}
